*{
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
    background-color: palegoldenrod;
    font-size: 25px;
}

.inner {
    background-color:red;
    width: 200px;
    height: 200px;
}

#parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}