<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zerodha Cohort</title>
</head>
<body>
    <div style = "display: flex; justify-content: space-between;
     padding-top: 10px; padding-right: 100px; padding-left: 100px;
     box-shadow: 2px 1px 2px #eee; ">
        <div>
            <img src="/pro1/logo.png" alt="">
        </div>
        <div style = "display: flex;">
            <div style="padding:20px; padding-top: 0px">
                SignUp
            </div>   
            <div style="padding:20px; padding-top: 0px">
                About
            </div>
            <div style="padding:20px; padding-top: 0px">
                Pricing
            </div>
            <div style="padding:20px; padding-top: 0px">
                Login
            </div>         
        </div>
    </div>
    <br>
    <br>
    <div style="display: flex; justify-content: center">
        <img width="1000px" src="/pro1/photo.png" alt="" >
    </div>
    <br>
    <br>
    <div style="text-align: center;">
        <h1>
            Invest in Everything
        </h1>
        <p>
            the people can Invest and get Rich 
        </p>
        
    </div>
   <div style="display: flex; justify-content: center"> 
        <div style = "display: flex; cursor: pointer;">
                <span style="background-color: blue; font-size: 30px; border-radius: 10px;"> Sign up now</span>       
        </div>
    </div>
</body>
</html>
<% for (let i = 0; i < list.length; i++) { %>
    <p><%= item.name %></p>
    <div class="innerbox">
        <h4>
            <%= list[i].title %>
        </h4>
        <p><%= list[i].description %></p>
        <br>
        <div style = "display: flex; justify-content: space-between">
        <button style="background-color: green; ">View</button>
        <button style="background-color:blue">Edit</button>
        </div>
 </div>
 <br>
<% } %>

                    <!-- <%= for (let i = 0; i < list.length; i++) {%>
                     
                    <%=} %> -->

                    <!-- <div class="innerbox">task2</div>
                    <br>
                    <div class="innerbox">task3</div>
                    <br> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zerodha cohort</title>
</head>
<body>
    <h4>ZERODHA</h4>
    <a href="">Singup</a>
    <a href="">About</a>
    <a href="">Products</a>
    <a href="">Pricing</a>
    <a href="">Support</a> 
    <center>
        <img src="/pro1/photo.png" alt="">
    </center>
    <button>
        Signup
    </button>
</body> 
</html>

<!-- ********************************
-> Tags 
-> Attributes

STRUCTURAL TAGS

    <html>
    <head>
    <body>

META DATA

    <title>
    <link>



All Tags used in <body>
    <div>
    <span>

    Headings & text
        <h1> - <h7>
        <p>

    Media 
        <img>
    
    Hyperlinks
        <a>

    Buttons
        <button> 
    Input 
        <input>
    






-->